@model GigHub.ViewModels.GigFormViewModel
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "Gigs"))
{
    <p class="alert alert-info">Заповніть <strong>бажано</strong> всі поля .</p>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.Label("Назва")
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.Label("Опис")
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control rows='5' " })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.Label("Місто")
        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Київ" })
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.Label("Адреса")
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "вул. Симона Петлюри, 112" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.Label("Вкажіть кількість місць")
        @Html.TextBoxFor(m => m.Seats, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Seats)
    </div>
    <div class="form-group">
        @Html.Label("Вкажіть ціну за вхід з однієї людини")
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "за замовчуванням безкоштовно" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        @Html.Label("Дата")
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "1 ЧЕР 2017" })
        @Html.ValidationMessageFor(m => m.Date)
    </div>
    <div class="form-group">
        @Html.Label("Час")
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "20:00" })
        @Html.ValidationMessageFor(m => m.Time)
    </div>
    <div class="form-group">
        @Html.Label("Виберіть тип заходу")
        @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Genre)
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Зберегти</button>
}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


